<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="customcodelogin" frontName="customcodelogin">
			<module name="Customcode_LoginByEmail" before="Magento_Customer" />
		</route>
	</router>
</config>
